Node-Red_Flow_Laptop2.json
[{"id":"d2c68f71.ded5a8","type":"tab","label":"WS2","disabled":false,"info":""},{"id":"3c6bf3f0.0c3074","type":"mqtt in","z":"d2c68f71.ded5a8","name":"","topic":"mqtt.eclipse.org/hfg-gmuend/input","qos":"2","datatype":"auto","broker":"bd42fb5e.942918","x":220,"y":240,"wires":[["995a0a32.7152b"]]},{"id":"f5a2c456.53a3b8","type":"udp out","z":"d2c68f71.ded5a8","name":"","addr":"localhost","iface":"","port":"6448","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":740,"y":240,"wires":[]},{"id":"995a0a32.7152b","type":"function","z":"d2c68f71.ded5a8","name":"float","func":"msg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":240,"wires":[["eedfd8c7.35cdf"]]},{"id":"eedfd8c7.35cdf","type":"osc","z":"d2c68f71.ded5a8","name":"","path":"/wek/inputs","metadata":false,"x":570,"y":240,"wires":[["f5a2c456.53a3b8"]]},{"id":"1f4a122a.e54d4e","type":"udp in","z":"d2c68f71.ded5a8","name":"","iface":"","port":"12000","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":380,"y":380,"wires":[["4f1a8ddc.af150c"]]},{"id":"4f1a8ddc.af150c","type":"osc","z":"d2c68f71.ded5a8","name":"","path":"/wek/ouputs","metadata":false,"x":530,"y":380,"wires":[["c01f218c.7a6ce8"]]},{"id":"c01f218c.7a6ce8","type":"mqtt out","z":"d2c68f71.ded5a8","name":"","topic":"mqtt.eclipse.org/hfg-gmuend/output","qos":"","retain":"","broker":"bd42fb5e.942918","x":870,"y":380,"wires":[]},{"id":"bd42fb5e.942918","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]