Node-Red_Flow_Laptop1.json
[{"id":"5578b3d7.314074","type":"tab","label":"WS 2","disabled":false,"info":""},{"id":"3a540411.4feeac","type":"serial in","z":"5578b3d7.314074","name":"","serial":"63978df7.cb825c","x":110,"y":100,"wires":[["7824175d.2a44c","fdc50e64.ae233"]]},{"id":"fdc50e64.ae233","type":"debug","z":"5578b3d7.314074","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":160,"wires":[]},{"id":"7824175d.2a44c","type":"mqtt out","z":"5578b3d7.314074","name":"","topic":"mqtt.eclipse.org/hfg-gmuend/input","qos":"","retain":"","broker":"2881ba11.65905e","x":420,"y":100,"wires":[]},{"id":"c09a242b.bfb268","type":"debug","z":"5578b3d7.314074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":420,"wires":[]},{"id":"34a89018.20ffd","type":"mqtt in","z":"5578b3d7.314074","name":"","topic":"mqtt.eclipse.org/hfg-gmuend/output","qos":"2","datatype":"auto","broker":"2881ba11.65905e","x":200,"y":360,"wires":[["d171af5e.89383"]]},{"id":"fecde17.17de3a","type":"tcp out","z":"5578b3d7.314074","host":"localhost","port":"6660","beserver":"client","base64":false,"end":true,"name":"","x":710,"y":360,"wires":[]},{"id":"d171af5e.89383","type":"function","z":"5578b3d7.314074","name":"Aus Float Int","func":"Math.round(msg.payload);\n\nmsg.payload = msg.payload * 250;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":360,"wires":[["fecde17.17de3a","c09a242b.bfb268"]]},{"id":"63978df7.cb825c","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"2881ba11.65905e","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]